# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv/
Pipfile
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
settings.json

# Logs and database files
*.log
*.sqlite3


# Windows files
Thumbs.db
